{{#partial "content"}}

    <h1 class="animated infinite jackInTheBox delay-2s">Congratulations</h1>

    You have listed the Animal as endangered a New Animal

    <a href="/"> Back to Home </a>

{{/partial}}
{{> layout.hbs}}