{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animated infinite rollIn delay-2s">$ranger.getName() sightings: </h1>

                <ul>
                    #foreach($sighting in $sightings)
                    <li><a href="/rangers/$ranger.getId()/sightings/$sighting.getId()"> $sighting.getName()</a></li>
                    #end
                </ul>

                <a href="/rangers/$ranger.getId()/sightings/new">Add a new Sighting</a>
                <a href="/rangers">All Rangers</a>

{{/partial}}
{{> layout.hbs}}